.DS_Store
/.sync-config.cson
/.idea
/node_modules
/vendor
/php/Secrets.php
/php/ng-templating-secrets.php
/src/**/*.js
/src/**/*.js.map
/public_html/dist
/public_html/index.html
/npm-debug.log


*/dist
*/tmp
*/out-tsc
/node_modules
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/e2e/*.js
/e2e/*.map
Thumbs.db

