<div class="sfooter">
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand" href="https://bootcamp-coders.cnm.edu/~rlewis37/meow-app-5/static-ui/home-view.php">=^
				Meow App 5 ^=</a>
			<small class="d-none d-md-inline-block text-muted mr-auto"><em>An Angularific Demo.</em></small>
			<ul class="nav justify-content-end">
				<li class="nav-item">
					<button routerLink="/posts" class="btn btn-primary">posts</button>
				</li>
			</ul>
		</nav>
	</header>
	<router-outlet></router-outlet>
</div>


